.collapsible {
    height: auto;
    overflow: hidden;
    transition: height 0.5s;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 6px;
}

.collapsible.collapsed {
    height: 25px;
}

.log-header {
    margin-bottom: 5px;
}

.log-header div.log-id {
    display: inline-block;
    margin-left: 15px;
    font-weight: 600;
}

.log-container {
    white-space: pre-wrap;
}